select {
 
    vertical-align: middle;
    font-size:100%;
    position: absolute;
    left: 680px;
    top:80px;
 
   
    
}

#dispcorpus
{
    padding: 1px;
    width: 1024px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto;
    font: 18px sans-serif;
    color: darkslategrey;
    font-weight: normal;
    position: relative;
    top: 60px;
}

#disp2
{

    position: relative;
    font: 18px sans-serif; 
    text-align: center;
    color: darkslategrey;
    top: 80px;
}
table,td
{ 
    
    border-collapse:collapse;
    border: 1px solid gray;
     padding: 15px;
    
     
    
}
#tab
{   position: relative;
    text-align: center;
    top:100px;
    left: 670px;
}


#subdisp
{
    position: relative;
    text-align: center;
    top: 110px;
}

#res1
{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: green;
    top: 110px;
}

#continueid
{
    position: relative;
    text-align: center;
    top: 130px;
    
}

#disp3
{

    position: relative;
    font: 18px sans-serif; 
    text-align: center;
    color: darkslategrey;
    top: 100px;
}
#input2
{
    position: relative;
    font: 18px sans-serif; 
    text-align: center;
    color: darkslategrey;
    top: 120px; 
}

#submit2
{
    position: relative;
    text-align: center;
    top: 160px;
}

#res2
{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: green;
    top: 350px;
    padding: 10px;
}
