
 select {
    vertical-align: middle;
    font-size:100%;
    position: absolute;
    left: 650px;
    top:100px;
}
#disp1
{ 
    position: absolute;
    left: 450px;
    top:180px; 
    font-weight: bold;
    color: #0000AA;
    font-size: 20px;
    
}
#disp2
{ 
    position: absolute;
    left: 650px;
    top:210px; 
    color:blue;
    font-style: italic;
    font-size: 18px;    
}

#nav-buttons
{
    position: absolute;
    left: 500px;
    top:300px;  
}
#disp3
{ 
    position: absolute;
    left: 580px;
    top:330px; 
   font-size: 20px;    
}


button
{   
    margin-right:16px;
}

#disp4
{
    position: absolute;
    left: 500px;
    top:360px; 
    font-size: 40px; 
    color: darkslategrey;
    font-weight: bold;
    text-align: center;
    

}
#refbtn
{
    position: absolute;
    left: 650px;
    top:500px; 
    font-size: 20px; 
 
}
#chkcrctness
{
    position: absolute;
    left: 600px;
    top:550px; 
    font-size: 20px;
}
#result
{
    position: absolute;
    left: 635px;
    top:600px; 
    font-size: 30px;
    color: green;
}
#get
{
    position: absolute;
    left: 660px;
    top:680px; 
    font-size: 20px;
    text-align: center;
}
