
 select {
    vertical-align: middle;
    font-size:100%;
    position: absolute;
    left: 650px;
    top:180px;
}
#disp1
{ 
    position: absolute;
    left: 450px;
    top:250px; 
    font-weight: bold;
    color: #0000AA;
    font-size: 20px;
    
}
#disp2
{ 
    position: absolute;
    left: 650px;
    top:300px; 
    color:blue;
    font-style: italic;
    font-size: 18px;    
}
#disp3
{ 
    position: absolute;
    left: 650px;
    top:450px; 
    color:blue;

    font-size: 20px;    
}
#nav-buttons
{
    position: absolute;
    left: 500px;
    top:400px;  
}

button
{   
    margin-right:16px;
}

#disp4
{
    position: absolute;
    left: 500px;
    top:490px; 
    font-size: 40px; 
    color: darkslategrey;
    font-weight: bold;

}
#refbtn
{
    position: absolute;
    left: 650px;
    top:600px; 
    font-size: 20px; 
 
}
#chkcrctness
{
    position: absolute;
    left: 600px;
    top:650px; 
    font-size: 20px;
}